<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-umengPush" version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>umengPush</name><js-module name="umengPush" src="www/umengPush.js"><clobbers target="cordova.plugins.umengPush" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="umengPush"><param name="ios-package" value="umengPush" /></feature></config-file>
    <header-file src="src/ios/umengPush.h" />
    <source-file src="src/ios/umengPush.m" />
</platform></plugin>
